.container {
	margin-top:150px;
	width: 750px;
	margin-left: auto;
	margin-right: auto;
}
p{
	font-family: 'archivo';
	font-weight: bolder;
	text-align: center;
	font-size: 24pt;
	color: red;
}

.images{
	width: 600px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

#demo{
	margin-top: 20px;
}
@font-face {
    font-family: 'archivo';
    src: url(../fonts/archivo.woff)
}
