body{
	font-family: 'roboto';
	background: rgb(255,255,255);
	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgb(230, 184, 76) 100%);
}
@font-face {
    font-family: 'archivo';
    src: url(../fonts/archivo.woff)
}
@font-face {
    font-family: 'roboto';
    src: url(../fonts/roboto.woff)
}
<<<<<<< HEAD
.navBar{
	z-index: 9;
	position: fixed;
	background-color: black;
	width:100%;
	height:45px;
}
nav a{
	position: relative;
	margin-top:15px;
	float: left;
=======
a{
>>>>>>> f836406e9a575bdf539afa5877c9a8e621dcdb96
	transition: all 500ms;
	font-family:'archivo';
	margin-left:8.4%;
}

.yellow a{
	color:#ebe76b;
}

.peach a{
	color:#e49c70;
}

.orange a{
	color:#e47c4c;
}

.red a{
	color: #d8534f;
}

a:hover{
	color:white;
	font-size:20pt;
<<<<<<< HEAD
    font-size-adjust: 20pt;
=======
    	font-size-adjust: 20pt;
>>>>>>> f836406e9a575bdf539afa5877c9a8e621dcdb96
}

a:link {
	text-decoration: none;
	  }

.container{
	z-index: 1;
	width: 978px;
	margin-right: auto;
	margin-left: auto;
}

.logo{
<<<<<<< HEAD
=======

>>>>>>> f836406e9a575bdf539afa5877c9a8e621dcdb96
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	height: auto; 
	position: relative;
	top: 125px;
	}
.intro{
	clear: both;
	margin-top: 180px;
}
.intro p{
	transition: all 500ms;
	position: relative;
	top: 50px;
	font-size: 16pt;
	float: right;
	margin-top:50px;
	width: 400px;
	margin-right:45px;
}
.intro p:hover{
	font-size:20pt;
    font-size-adjust: 16pt;
}
.intro p:hover{
	font-size:20pt;
    font-size-adjust: 16pt;
}
.intro img{
	position: relative;
	top: 50px;
	margin-top: 50px;
	display: block;
	width: 380px;
	height: auto;
	float:left;
	margin-bottom: 300px;
}
.principles{
	clear: both;
}
.principles p{
	transition: all 500ms;
	float: left;
	font-size: 14pt;
	width:350px;
}
.principles p:hover{
	font-size:20pt;
    font-size-adjust: 14pt;
}
.principles img{
	float: right;
	height: 300px;
	width: auto;
	display: block;
	clear: both;
	margin-bottom:150px;
}
.principles h2{
<<<<<<< HEAD
	display: inline;
=======
>>>>>>> f836406e9a575bdf539afa5877c9a8e621dcdb96
	transition: all 500ms;
	width: 550px;
	font-family: 'archivo';
	font-size: 24pt;
}

.two{
	clear: both;
}

.footer{
	clear: both;
	width: auto;
	height: 275px;
	background: rgb(255,255,255);
	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgb(230, 184, 76) 100%);
}
.icons{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
  	margin-right: auto;
}
.icons img{
	width: 50px;
	float: left;
	margin-top: 125px;
}
.icons a{
	margin-left: auto;
	margin-right: auto;
}