.container {
	width: 978px;
	margin-left: auto;
	margin-right: auto;
}

.images{
	width: 750px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}
.fcf-body{
  	margin-left: 100px;
  	margin-right: 100px;
}