.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.224000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.327148;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.712000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.712000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.712000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.712000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:1.203000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.712000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:0.712000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls2{letter-spacing:-52.228440px;}
.ls1{letter-spacing:-48.327960px;}
.ls3{letter-spacing:-12.420000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.ws3{word-spacing:12.420000px;}
.ws1{word-spacing:48.327960px;}
.ws2{word-spacing:52.228440px;}
._3{margin-left:-16.938000px;}
._8{margin-left:-12.240000px;}
._0{margin-left:-9.792000px;}
._6{margin-left:-7.488000px;}
._a{margin-left:-6.120000px;}
._5{margin-left:-4.896000px;}
._1{margin-left:-3.060000px;}
._2{margin-left:-1.497600px;}
._7{width:2.966400px;}
._4{width:4.896000px;}
._9{width:12.420000px;}
.fcc{color:rgb(16,15,13);}
.fc7{color:rgb(239,233,246);}
.fca{color:rgb(0,0,0);}
.fc6{color:transparent;}
.fc0{color:rgb(236,232,246);}
.fcb{color:rgb(136,199,228);}
.fc2{color:rgb(230,248,255);}
.fcd{color:rgb(228,165,164);}
.fc3{color:rgb(175,141,139);}
.fc9{color:rgb(235,232,244);}
.fc8{color:rgb(234,231,246);}
.fc4{color:rgb(233,255,240);}
.fc1{color:rgb(241,234,246);}
.fc5{color:rgb(211,215,244);}
.fs3{font-size:57.600000px;}
.fs1{font-size:180.000000px;}
.fs2{font-size:192.000000px;}
.fs0{font-size:288.000000px;}
.fs4{font-size:483.279600px;}
.fs5{font-size:522.284400px;}
.y12{bottom:-66.478000px;}
.ye{bottom:-66.477900px;}
.ya{bottom:-66.477000px;}
.y11{bottom:-49.198000px;}
.yd{bottom:-49.197900px;}
.y9{bottom:-49.197000px;}
.y10{bottom:-31.918000px;}
.yc{bottom:-31.917900px;}
.y8{bottom:-31.917000px;}
.y0{bottom:-0.500000px;}
.y27{bottom:26.490400px;}
.y23{bottom:28.890400px;}
.y4{bottom:34.890400px;}
.y25{bottom:38.490400px;}
.y19{bottom:50.904800px;}
.y28{bottom:54.090400px;}
.y26{bottom:80.490400px;}
.y22{bottom:82.890400px;}
.y3{bottom:90.384700px;}
.y24{bottom:92.490400px;}
.yf{bottom:141.500000px;}
.y2{bottom:162.384700px;}
.y1d{bottom:189.976400px;}
.y13{bottom:193.800000px;}
.y17{bottom:202.536800px;}
.y1{bottom:234.384700px;}
.y1c{bottom:265.755000px;}
.yb{bottom:331.500000px;}
.y18{bottom:349.056800px;}
.y1e{bottom:361.430400px;}
.y1b{bottom:368.832532px;}
.y1f{bottom:380.490400px;}
.y20{bottom:380.490700px;}
.y21{bottom:383.505700px;}
.y6{bottom:383.800000px;}
.y16{bottom:430.776800px;}
.y1a{bottom:456.064500px;}
.y7{bottom:538.699000px;}
.y15{bottom:554.184800px;}
.y5{bottom:591.000000px;}
.y14{bottom:676.728800px;}
.h6{height:40.320000px;}
.h5{height:128.600000px;}
.h3{height:172.260000px;}
.h4{height:202.781250px;}
.h7{height:274.464000px;}
.h2{height:275.616000px;}
.ha{height:284.639000px;}
.h8{height:304.171875px;}
.h9{height:338.295720px;}
.hb{height:365.599080px;}
.h0{height:792.000000px;}
.h1{height:792.500000px;}
.w2{width:128.600000px;}
.w3{width:558.059000px;}
.w0{width:1224.000000px;}
.w1{width:1224.500000px;}
.x7{left:-67.344500px;}
.x0{left:0.000000px;}
.x4{left:36.000000px;}
.x15{left:39.600000px;}
.x10{left:68.431400px;}
.xe{left:71.361908px;}
.xd{left:128.993000px;}
.x6{left:168.900000px;}
.x12{left:283.301400px;}
.x5{left:317.200000px;}
.x3{left:430.471600px;}
.x13{left:475.876300px;}
.x14{left:479.881300px;}
.x1{left:546.535600px;}
.xb{left:584.568000px;}
.xa{left:593.568000px;}
.xf{left:620.000000px;}
.x11{left:626.138100px;}
.xc{left:640.584000px;}
.x9{left:714.500000px;}
.x8{left:862.800000px;}
.x2{left:884.863600px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls2{letter-spacing:-69.637920pt;}
.ls1{letter-spacing:-64.437280pt;}
.ls3{letter-spacing:-16.560000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.ws3{word-spacing:16.560000pt;}
.ws1{word-spacing:64.437280pt;}
.ws2{word-spacing:69.637920pt;}
._3{margin-left:-22.584000pt;}
._8{margin-left:-16.320000pt;}
._0{margin-left:-13.056000pt;}
._6{margin-left:-9.984000pt;}
._a{margin-left:-8.160000pt;}
._5{margin-left:-6.528000pt;}
._1{margin-left:-4.080000pt;}
._2{margin-left:-1.996800pt;}
._7{width:3.955200pt;}
._4{width:6.528000pt;}
._9{width:16.560000pt;}
.fs3{font-size:76.800000pt;}
.fs1{font-size:240.000000pt;}
.fs2{font-size:256.000000pt;}
.fs0{font-size:384.000000pt;}
.fs4{font-size:644.372800pt;}
.fs5{font-size:696.379200pt;}
.y12{bottom:-88.637333pt;}
.ye{bottom:-88.637200pt;}
.ya{bottom:-88.636000pt;}
.y11{bottom:-65.597333pt;}
.yd{bottom:-65.597200pt;}
.y9{bottom:-65.596000pt;}
.y10{bottom:-42.557333pt;}
.yc{bottom:-42.557200pt;}
.y8{bottom:-42.556000pt;}
.y0{bottom:-0.666667pt;}
.y27{bottom:35.320533pt;}
.y23{bottom:38.520533pt;}
.y4{bottom:46.520533pt;}
.y25{bottom:51.320533pt;}
.y19{bottom:67.873067pt;}
.y28{bottom:72.120533pt;}
.y26{bottom:107.320533pt;}
.y22{bottom:110.520533pt;}
.y3{bottom:120.512933pt;}
.y24{bottom:123.320533pt;}
.yf{bottom:188.666667pt;}
.y2{bottom:216.512933pt;}
.y1d{bottom:253.301867pt;}
.y13{bottom:258.400000pt;}
.y17{bottom:270.049067pt;}
.y1{bottom:312.512933pt;}
.y1c{bottom:354.340000pt;}
.yb{bottom:442.000000pt;}
.y18{bottom:465.409067pt;}
.y1e{bottom:481.907200pt;}
.y1b{bottom:491.776710pt;}
.y1f{bottom:507.320533pt;}
.y20{bottom:507.320933pt;}
.y21{bottom:511.340933pt;}
.y6{bottom:511.733333pt;}
.y16{bottom:574.369067pt;}
.y1a{bottom:608.086000pt;}
.y7{bottom:718.265333pt;}
.y15{bottom:738.913067pt;}
.y5{bottom:788.000000pt;}
.y14{bottom:902.305067pt;}
.h6{height:53.760000pt;}
.h5{height:171.466667pt;}
.h3{height:229.680000pt;}
.h4{height:270.375000pt;}
.h7{height:365.952000pt;}
.h2{height:367.488000pt;}
.ha{height:379.518667pt;}
.h8{height:405.562500pt;}
.h9{height:451.060960pt;}
.hb{height:487.465440pt;}
.h0{height:1056.000000pt;}
.h1{height:1056.666667pt;}
.w2{width:171.466667pt;}
.w3{width:744.078667pt;}
.w0{width:1632.000000pt;}
.w1{width:1632.666667pt;}
.x7{left:-89.792667pt;}
.x0{left:0.000000pt;}
.x4{left:48.000000pt;}
.x15{left:52.800000pt;}
.x10{left:91.241867pt;}
.xe{left:95.149210pt;}
.xd{left:171.990667pt;}
.x6{left:225.200000pt;}
.x12{left:377.735200pt;}
.x5{left:422.933333pt;}
.x3{left:573.962133pt;}
.x13{left:634.501733pt;}
.x14{left:639.841733pt;}
.x1{left:728.714133pt;}
.xb{left:779.424000pt;}
.xa{left:791.424000pt;}
.xf{left:826.666667pt;}
.x11{left:834.850800pt;}
.xc{left:854.112000pt;}
.x9{left:952.666667pt;}
.x8{left:1150.400000pt;}
.x2{left:1179.818133pt;}
}
