.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.224000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.327148;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.712000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.712000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.712000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.712000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:1.203000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.712000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:0.712000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-ms-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-webkit-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);}
.v0{vertical-align:0.000000px;}
.ls2{letter-spacing:-52.228440px;}
.ls1{letter-spacing:-48.327960px;}
.ls3{letter-spacing:-12.420000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.ws3{word-spacing:12.420000px;}
.ws1{word-spacing:48.327960px;}
.ws2{word-spacing:52.228440px;}
._3{margin-left:-16.938000px;}
._8{margin-left:-12.240000px;}
._0{margin-left:-9.792000px;}
._6{margin-left:-7.488000px;}
._a{margin-left:-6.120000px;}
._5{margin-left:-4.896000px;}
._1{margin-left:-3.060000px;}
._2{margin-left:-1.497600px;}
._7{width:2.966400px;}
._4{width:4.896000px;}
._9{width:12.420000px;}
.fcc{color:rgb(16,15,13);}
.fc7{color:rgb(239,233,246);}
.fca{color:rgb(0,0,0);}
.fc6{color:transparent;}
.fc0{color:rgb(236,232,246);}
.fcb{color:rgb(136,199,228);}
.fc2{color:rgb(230,248,255);}
.fcd{color:rgb(228,165,164);}
.fc3{color:rgb(175,141,139);}
.fc9{color:rgb(235,232,244);}
.fc8{color:rgb(234,231,246);}
.fc4{color:rgb(233,255,240);}
.fc1{color:rgb(241,234,246);}
.fc5{color:rgb(211,215,244);}
.fs3{font-size:57.600000px;}
.fs1{font-size:180.000000px;}
.fs2{font-size:192.000000px;}
.fs0{font-size:288.000000px;}
.fs4{font-size:483.279600px;}
.fs5{font-size:522.284400px;}
.y12{bottom:-99.717000px;}
.ye{bottom:-99.716850px;}
.ya{bottom:-99.715500px;}
.y11{bottom:-73.797000px;}
.yd{bottom:-73.796850px;}
.y9{bottom:-73.795500px;}
.y10{bottom:-47.877000px;}
.yc{bottom:-47.876850px;}
.y8{bottom:-47.875500px;}
.y0{bottom:-0.750000px;}
.y27{bottom:39.735600px;}
.y23{bottom:43.335600px;}
.y4{bottom:52.335600px;}
.y25{bottom:57.735600px;}
.y19{bottom:76.357200px;}
.y28{bottom:81.135600px;}
.y26{bottom:120.735600px;}
.y22{bottom:124.335600px;}
.y3{bottom:135.577050px;}
.y24{bottom:138.735600px;}
.yf{bottom:212.250000px;}
.y2{bottom:243.577050px;}
.y1d{bottom:284.964600px;}
.y13{bottom:290.700000px;}
.y17{bottom:303.805200px;}
.y1{bottom:351.577050px;}
.y1c{bottom:398.632500px;}
.yb{bottom:497.250000px;}
.y18{bottom:523.585200px;}
.y1e{bottom:542.145600px;}
.y1b{bottom:553.248798px;}
.y1f{bottom:570.735600px;}
.y20{bottom:570.736050px;}
.y21{bottom:575.258550px;}
.y6{bottom:575.700000px;}
.y16{bottom:646.165200px;}
.y1a{bottom:684.096750px;}
.y7{bottom:808.048500px;}
.y15{bottom:831.277200px;}
.y5{bottom:886.500000px;}
.y14{bottom:1015.093200px;}
.h6{height:40.320000px;}
.h3{height:172.260000px;}
.h5{height:192.900000px;}
.h4{height:202.781250px;}
.h7{height:274.464000px;}
.h2{height:275.616000px;}
.h8{height:304.171875px;}
.h9{height:338.295720px;}
.hb{height:365.599080px;}
.ha{height:426.958500px;}
.h0{height:1188.000000px;}
.h1{height:1188.750000px;}
.w2{width:192.900000px;}
.w3{width:837.088500px;}
.w0{width:1836.000000px;}
.w1{width:1836.750000px;}
.x7{left:-101.016750px;}
.x0{left:0.000000px;}
.x4{left:54.000000px;}
.x15{left:59.400000px;}
.x10{left:102.647100px;}
.xe{left:107.042862px;}
.xd{left:193.489500px;}
.x6{left:253.350000px;}
.x12{left:424.952100px;}
.x5{left:475.800000px;}
.x3{left:645.707400px;}
.x13{left:713.814450px;}
.x14{left:719.821950px;}
.x1{left:819.803400px;}
.xb{left:876.852000px;}
.xa{left:890.352000px;}
.xf{left:930.000000px;}
.x11{left:939.207150px;}
.xc{left:960.876000px;}
.x9{left:1071.750000px;}
.x8{left:1294.200000px;}
.x2{left:1327.295400px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls2{letter-spacing:-46.425280pt;}
.ls1{letter-spacing:-42.958187pt;}
.ls3{letter-spacing:-11.040000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.ws3{word-spacing:11.040000pt;}
.ws1{word-spacing:42.958187pt;}
.ws2{word-spacing:46.425280pt;}
._3{margin-left:-15.056000pt;}
._8{margin-left:-10.880000pt;}
._0{margin-left:-8.704000pt;}
._6{margin-left:-6.656000pt;}
._a{margin-left:-5.440000pt;}
._5{margin-left:-4.352000pt;}
._1{margin-left:-2.720000pt;}
._2{margin-left:-1.331200pt;}
._7{width:2.636800pt;}
._4{width:4.352000pt;}
._9{width:11.040000pt;}
.fs3{font-size:51.200000pt;}
.fs1{font-size:160.000000pt;}
.fs2{font-size:170.666667pt;}
.fs0{font-size:256.000000pt;}
.fs4{font-size:429.581867pt;}
.fs5{font-size:464.252800pt;}
.y12{bottom:-88.637333pt;}
.ye{bottom:-88.637200pt;}
.ya{bottom:-88.636000pt;}
.y11{bottom:-65.597333pt;}
.yd{bottom:-65.597200pt;}
.y9{bottom:-65.596000pt;}
.y10{bottom:-42.557333pt;}
.yc{bottom:-42.557200pt;}
.y8{bottom:-42.556000pt;}
.y0{bottom:-0.666667pt;}
.y27{bottom:35.320533pt;}
.y23{bottom:38.520533pt;}
.y4{bottom:46.520533pt;}
.y25{bottom:51.320533pt;}
.y19{bottom:67.873067pt;}
.y28{bottom:72.120533pt;}
.y26{bottom:107.320533pt;}
.y22{bottom:110.520533pt;}
.y3{bottom:120.512933pt;}
.y24{bottom:123.320533pt;}
.yf{bottom:188.666667pt;}
.y2{bottom:216.512933pt;}
.y1d{bottom:253.301867pt;}
.y13{bottom:258.400000pt;}
.y17{bottom:270.049067pt;}
.y1{bottom:312.512933pt;}
.y1c{bottom:354.340000pt;}
.yb{bottom:442.000000pt;}
.y18{bottom:465.409067pt;}
.y1e{bottom:481.907200pt;}
.y1b{bottom:491.776710pt;}
.y1f{bottom:507.320533pt;}
.y20{bottom:507.320933pt;}
.y21{bottom:511.340933pt;}
.y6{bottom:511.733333pt;}
.y16{bottom:574.369067pt;}
.y1a{bottom:608.086000pt;}
.y7{bottom:718.265333pt;}
.y15{bottom:738.913067pt;}
.y5{bottom:788.000000pt;}
.y14{bottom:902.305067pt;}
.h6{height:35.840000pt;}
.h3{height:153.120000pt;}
.h5{height:171.466667pt;}
.h4{height:180.250000pt;}
.h7{height:243.968000pt;}
.h2{height:244.992000pt;}
.h8{height:270.375000pt;}
.h9{height:300.707307pt;}
.hb{height:324.976960pt;}
.ha{height:379.518667pt;}
.h0{height:1056.000000pt;}
.h1{height:1056.666667pt;}
.w2{width:171.466667pt;}
.w3{width:744.078667pt;}
.w0{width:1632.000000pt;}
.w1{width:1632.666667pt;}
.x7{left:-89.792667pt;}
.x0{left:0.000000pt;}
.x4{left:48.000000pt;}
.x15{left:52.800000pt;}
.x10{left:91.241867pt;}
.xe{left:95.149210pt;}
.xd{left:171.990667pt;}
.x6{left:225.200000pt;}
.x12{left:377.735200pt;}
.x5{left:422.933333pt;}
.x3{left:573.962133pt;}
.x13{left:634.501733pt;}
.x14{left:639.841733pt;}
.x1{left:728.714133pt;}
.xb{left:779.424000pt;}
.xa{left:791.424000pt;}
.xf{left:826.666667pt;}
.x11{left:834.850800pt;}
.xc{left:854.112000pt;}
.x9{left:952.666667pt;}
.x8{left:1150.400000pt;}
.x2{left:1179.818133pt;}
}
